.element {
  width: 90%;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
  }
}

.open {
  .Select__head {
    &::after {
      transform: rotate(-135deg);
    }
  }
}

.head {
  position: relative;
  padding: 10px;

  &::after {
    content: '';
    position: absolute;
    right: 15px;
    top: calc(50% - 10px / 2);
    width: 7px;
    height: 7px;
    border-right: 2px solid #444;
    border-bottom: 2px solid #444;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
}

.value {
  position: absolute;
  opacity: 0;

  &_input {
    border: none;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    outline: none;
  }
}

.label {
  display: inline-block;
  margin-bottom: 4px;
  line-height: 1.2;
}

.selectedValue {
  padding: 10px;
}

.list {
  list-style: none;
  border-top: 1px solid #d3d3d3;
  margin-top: 10px;

  &__item {
    padding: 10px 20px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    transition: padding-left 0.17s ease-in-out;

    &:hover {
      background-color: rgba(23, 23, 32, 0.1);
      padding-left: 23px;
    }

    &:focus-visible {
      background-color: rgba(23, 23, 32, 0.1);
      padding-left: 23px;
      outline: none;
    }
  }
}
