*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

body {
  background-color: white;
  word-wrap: break-word;
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}
